$breakpoint-mobile: 390px;
$breakpoint-tablet: 1440px;
$breakpoint-desktop: 1920px;
$main-color: #fff5f0;
$main-shadow: 6px 6px 0 2px #1e1e1e;
$main-border: 2px solid #262626;
$button-shadow: 4px 4px 0 2px #1e1e1e;